
/* Global stuff: body, links, inputs, header, #main, footer */

// quick reset
*
  border 0
  margin 0
  line-height 1
  box-sizing border-box


body
  font-family "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode"
  min-width 400px

template
  display none

a
  color blue
  text-decoration none
  cursor pointer

  &:hover
    text-decoration underline

input
  border 1px solid #c
  padding u
  border-radius 3px
  font-size 100%

button
  padding uh u2
  background-color blue
  color #f
  font-size 100%
  cursor pointer
  border-radius 5em
  outline 0

  &:hover
    background-color darken(blue, 5)

  &:active
    background-color darken(blue, 15)


header
  background-color #3
  padding u
  margin-bottom u2
  color #e
  text-transform uppercase
  letter-spacing 2px
  font-size 110%
  display none

header div, #main
  max-width 800px
  margin 0 auto

header a
  font-size 80%
  margin-left 1em
  color #e
  transition color .1s

  &.is-loading
    color #5

  &.is-active
    color #9
    text-decoration none
    cursor default

nav
  margin-left 2em
  display inline-block
  width 54%

footer
  background-color rgba(#313f4c, .8)
  width 100%
  position fixed
  bottom 0
  font-size 80%
  color #9
  padding .6em 0
  letter-spacing 5px
  text-align center
  display none

  a
    color #d
    letter-spacing 0
