
// logo
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  #logo
    background-image url("../img/riotjslogo@2x.png")
    -webkit-background-size 100%

// login backgrond image
@media (max-width: 1150px)
  body.is-not-logged
    background-size 150% 1600px

@media (max-width: 800px)
  #search
    display block
    margin-bottom u2

  navi
    margin-left -(uh)

  #logout
    float right

  #bars
    em
      display block
      margin-bottom -(uh)