
/* search dropdown */

#search
  display inline-block
  position relative

  input
    padding .3em 1em
    border-radius 3em
    font-size 85%
    background-color #6
    transition background-color .4s
    border-color #6

    &:focus
      outline none
      background-color #f

  &.is-loading
    opacity .5
    transition opacity .2s

#results
  position absolute
  top 110%
  left 0
  background-color #f
  width 100%
  box-shadow 0 0 6px #c
  border-radius 4px
  display none
  z-index 9

  a
    font-size 80%
    color #3
    text-transform none
    letter-spacing 0
    display block
    margin .5em
    text-decoration none

    &:hover
      background-color blue
      color #f

    > *
      display inline-block
      vertical-align middle
  img
    width 2.4em
    margin-right uh

  span
    margin-top uh
