*{border:0;margin:0;line-height:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font-family:"Myriad Pro","Lucida Grande","Lucida Sans Unicode"}
template{display:none}
a{color:#1fadc5;text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline}
input{border:1px solid #ccc;padding:.6em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:100%}
button{padding:.3em 1.2em;background-color:#1fadc5;color:#fff;font-size:100%;cursor:pointer;-webkit-border-radius:5em;-moz-border-radius:5em;border-radius:5em;outline:0;}
button:hover{background-color:#1c9aaf}
button:active{background-color:#157383}
header{background-color:#333;padding:.6em;margin-bottom:1.2em;color:#eee;text-transform:uppercase;letter-spacing:2px;font-size:110%;display:none}
header div,main{max-width:800px;margin:0 auto}
header a{font-size:80%;margin-left:1em;color:#eee;-webkit-transition:color .1s;-moz-transition:color .1s;transition:color .1s;}
header a.is-loading{color:#555}
header a.is-active{color:#999;text-decoration:none;cursor:default}
navi{margin-left:2em;display:inline-block;width:58%}
#login{padding:2em;background-color:rgba(0,0,0,0.3);color:#eee;margin:15% auto;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:none;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;}
#login label{display:block;margin-bottom:1.2em;font-weight:100;color:#777;text-align:left}
#login button{width:60%;font-size:110%;padding:.6em 0}
#login input{width:100%;border:none;background-color:rgba(255,255,255,0.5);box-shadow:0 0 5px #444 inset;}
#login input:focus{background-color:#fff}
#login h3{font-family:"avenir next","helvetica neue";font-weight:100;font-size:250%;margin-bottom:.6em}
#login.is-loading{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
main{position:relative}
.page{position:absolute;top:0;left:0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .1s;-moz-transition:opacity .1s;transition:opacity .1s;display:none;width:100%;z-index:-1;}
.page.is-active{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);z-index:1}
.is-not-logged{background:url("../img/login.jpg");-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;text-align:center;}
.is-not-logged #login{display:inline-block}
.is-logged{background-image:none;}
.is-logged header,.is-logged .page{display:block}
.is-logged #login{display:none}
#bars a{display:block;padding:.3em;}
#bars a > *{display:inline-block;vertical-align:middle}
#bars a:hover{background-color:#f9f9f9;color:#333}
#bars em{width:18%;white-space:nowrap;padding-right:.6em;font-size:90%;font-style:normal}
#bars span{width:80%}
#bars strong{height:4px;background-color:#777;display:block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
#stats-page h3{font-weight:normal;font-size:100%;margin:0 0 -1.1em 3em}
#stats-page canvas{width:800px;height:200px;margin-bottom:25px}
#user-page,#customer-page{margin-top:1.2em;}
#user-page img,#customer-page img{margin-right:1.2em;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
#user-page .details,#customer-page .details{display:inline-block;max-width:530px;vertical-align:top;padding-top:.3em}
#user-page h1,#customer-page h1{font-weight:normal}
#user-page .meta,#customer-page .meta{margin-bottom:.6em;color:#777;margin:.3em 0 .6em;}
#user-page .meta span,#customer-page .meta span{margin:0 .3em;color:#ccc}
#user-page .desc,#customer-page .desc{color:#555;font-size:120%;line-height:1.2;margin-bottom:1.2em}
#customer-page img{max-width:180px}
#user-list{margin-bottom:1.2em;}
#user-list img{max-width:60px;margin:0 .6em .3em 0}
#invoice-list{max-width:200px;}
#invoice-list ul{list-style-type:none;padding:0}
#invoice-list li{padding:.3em 0}
#invoice-list strong{float:right}
#search{display:inline-block;position:relative;}
#search input{padding:.3em 1em;-webkit-border-radius:3em;-moz-border-radius:3em;border-radius:3em;font-size:85%;background-color:#666;-webkit-transition:background-color .4s;-moz-transition:background-color .4s;transition:background-color .4s;border-color:#666;}
#search input:focus{outline:none;background-color:#fff}
#search.is-loading{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s}
#results{position:absolute;top:110%;left:0;background-color:#fff;width:100%;box-shadow:0 0 6px #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:none;z-index:9;}
#results a{font-size:80%;color:#333;text-transform:none;letter-spacing:0;display:block;margin:.5em;text-decoration:none;}
#results a:hover{background-color:#1fadc5;color:#fff}
#results a > *{display:inline-block;vertical-align:middle}
#results img{width:2.4em;margin-right:.3em}
#results span{margin-top:.3em}
