
/* CSS variables for colors and sizing */

mootred           = #ff003f
red               = #be0000
green             = #4cbe00
blue              = #1fadc5
blue2             = #6cb7c4
pink              = #ff57a8


// size units
u   = 0.6em
u2  = 1.2em
uh  = 0.3em