
/*
  All the different views of this application.
  Might make sense to separate into individual files when things start growing.
*/

// CSS based fading for view switch
#main
  position relative

// pages are absolutely positioned so that they can fade-in/out
.page
  position absolute
  top 0
  left 0
  opacity 0
  transition opacity .1s
  display none
  width 100%
  z-index -1
  padding 15px

  &.is-active
    opacity 1
    z-index 1


// statistical bars
#bars
  a
    display block
    padding uh
    text-decoration none

    > *
      display inline-block
      vertical-align middle

    &:hover
      background-color #f9
      color #3

  em
    width 20%
    white-space nowrap
    padding-right u
    font-size 90%
    font-style normal

  span
    width 78%

  strong
    height 4px
    background-color #7
    display block
    border-radius 4px

#stats-page
  h3
    font-weight normal
    font-size 100%
    margin 0 0 -1.1em 3em

  canvas
    height 200px
    margin-bottom 25px

#user-page, #customer-page
  margin-top u2

  img
    margin-right u2
    border-radius 4px

  .details
    display inline-block
    max-width 530px
    vertical-align top
    padding-top uh

  h1
    font-weight normal

  .meta
    margin-bottom u
    color #7
    margin uh 0 u

    span
      margin 0 uh
      color #c

  .desc
    color #5
    font-size 120%
    line-height 1.2
    margin-bottom u2

#customer-page
  img
    max-width 180px

#user-list
  margin-bottom u2

  img
    max-width 60px
    margin 0 u uh 0

#invoice-list
  max-width 200px

  ul
    list-style-type none
    padding 0

  li
    padding uh 0

  strong
    float right

